body {
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4; 
  background-color: #fff;
}
.cover {
  background-image: url("../res/sub_page_dokumentumok_en.gif")  ;
  width: 100%;
  height: 320px;
  background-color: #eee;
  background-size: cover;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.content { 
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}
.MyPicture {
  position: relative;
  top: -100px;
  margin: auto;
  display: block;
  width: 160px;
  border-radius: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.social {
  color: darkred;
  position: relative;
  top: -50px;
  display: block;
  text-align: center;
}
.fab {
  font: normal normal normal 14px/1 FontAwesome;
    padding: 20px;
    font-size: 2em;
  }
.fab:hover{
  color: #666;
}
.name {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -40px;
    color: darkslategray;
}
.Sname {
  color: #666;
  font-size: 1.1em;
  text-align: center;
  position: relative;
  top: -55px;
  text-transform: lowercase;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
h3 {
  font-size: 2em;
  color: darkred;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p , li{
  color : black;
}

.Interests .row {
  margin-top: 60px;
}
.fas,.far {
  border-radius: 50%;
 -webkit-transition: -webkit-transform .5s ease-in-out;
 transition:transform .5s ease-in-out;
}
.fas:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          color: darkred;
}
.far:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          color: darkred;
}
.fas,.far {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 4em;
  display: inline-block;
  text-align: center
}
.show {
  opacity: 0;
  text-align: center;
  font-size: 1.1em;
 }
 .far:hover ~ .show{
   color: darkred;
   opacity: 1;

 }
 .fas:hover ~ .show{
   color: darkred;
   opacity: 1;
 }
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
Projects{
  display: block;
}
img{
  width:330px;
  height: 234px;
  border-radius: 3.5px;
  margin: 20px 0 20px 0;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, .3);
  transition: box-shadow .3s;
}
img:hover{
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow .3s;
}

